@import 'https://fonts.googleapis.com/css?family=Roboto|Roboto:300';

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  border: 10px solid #E22B1B;
}

section {
  margin: 0;
  padding: 10px;
  display: block;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-bottom: 5px solid #000;
  font-size: 20px;
  text-align: left;
  margin-bottom: 25px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-type: none;
}

#save-to-pebble {
  background-color: #FFF;
  width: 80%;
  margin: 20px;
  display: block;
  padding: 5px 0;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #000;
  font-size: 30px;
}

#save-to-pebble:hover {
  background-color: #AEC90B;
  border-color: #AEC90B;
}

#url-template {
  display: none;
}

#url-add {
  background-color: #AEC90B;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  color: #fff;
}

.url-remove {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #E22B1B;
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 5px;
}

input:focus:invalid {
  border-color: #E22B1B;
}

footer, footer a {
  color: #575757;
  text-align: center;
}